
<footer class="footer--pink">
  <div class="container">
    <div class="row">
      <div class="col-12 f-col f-left">
        <nav>
          <ul>
            <li class="ffopenSans pr-2">Copyright © 2022 Ingrid Arna Pty. Ltd.  </li>
            <li class="ffopenSans"> <a href="https://www.ingridarna.com/privacy-policy" target="_blank">Privacy Policy</a></li>
            <li class="ffopenSans"><a href="https://www.ingridarna.com/terms-policy" target="_blank">Terms Policy</a></li>
            <li class="ffopenSans"><a href="https://www.ingridarna.com/disclaimer" target="_blank">Disclaimer </a></li>
            <li class="ffopenSans"><a href="https://www.ingridarna.com/contact" target="_blank">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>