
<div class="form-container">
  <form action="" method="post" id="save-data-contact">
    <input type="text" name="name" id="form-name" placeholder="Name" required="required"/>
    <input type="email" name="email" id="form-email" placeholder="Email" required="required"/>
    <input type="tel" name="phone" id="form-phone" placeholder="Phone (Include this to receive juicy free content)" required="required"/>
    <input type="hidden" name="hidden_phone" id="hidden-phone" value=""/>
    <input type="hidden" name="hidden_country" id="hidden-country" value=""/>
    <button class="button animated-button1" type="submit"><span></span><span></span><span></span><span></span>
      <p class="ffoswald white mb-0 text-uppercase">Register now and get booked out</p>
    </button>
  </form>
</div>