
<div class="full-screen-menu"><a class="close_menu" href="javascript:void(0)"> <span class="is-active"> </span></a>
  <div class="wrap_middle">   
    <ul> 
      <li><a class="ffalbraMedium font-weight-500" href="javascript:;" data-scroll-to=".block-modules">Curriculum</a></li>
      <li><a class="ffalbraMedium font-weight-500" href="javascript:;" data-scroll-to=".block-team">Meet the team</a></li>
      <li><a class="ffalbraMedium font-weight-500" href="javascript:;" data-scroll-to=".result_section">Client success </a></li>
      <li><a class="ffalbraMedium font-weight-500" href="javascript:;" data-scroll-to=".block-faqs">FAQ</a></li>
      <li><a class="ffalbraMedium font-weight-500" href="https://ingridarna.com/chat/" target="_blank">Apply now</a></li>
    </ul>
    <div class="logo_img"> <img src="img/site/log_side_menu.png" alt=""/></div>
  </div>
</div>