
<section class="fullscreen-navigation-holder">
  <div class="container">
    <div class="row">
      <div class="navbar-header">
        <div class="btn-close" title="Close" id="close-modal"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 10.6L6.6 5.2 5.2 6.6l5.4 5.4-5.4 5.4 1.4 1.4 5.4-5.4 5.4 5.4 1.4-1.4-5.4-5.4 5.4-5.4-1.4-1.4-5.4 5.4z"></path></svg></div>
      </div>
      <div class="col-12 navbar-container">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item vimeo" src="" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="allowfullscreen"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>