
<section class="qualifying-question">
  <div class="qualifying-question__wrapper">
    <div class="qualifying-question__progressbar"></div>
    <div class="qualifying-question__iframe">
      <picture>
        <source media="(min-width: 767px)" srcset="img/bg_images/youcanbook-me.jpg"/><img class="img-fluid" src="img/bg_images/youcanbook-me-mobile.jpg" alt="Youcanbook me"/>
      </picture>
      <div class="qualifying-question__form">
        <form>
          <div class="form-questions__container">
            <div class="form-question">
              <div class="input-text">
                <h4 class="ffjosefin">What best describes you right now, gorgeous?</h4>
              </div>
              <div class="input-group ig--radio">
                <input class="input_radio" type="radio" id="question-1_1" name="question_1" autocomplete="off" data-option="closer" required="required"/>
                <label for="question-1_1">My business is making over US$250K a year &amp; I am ready for million dollar diva status!</label>
              </div>
              <div class="input-group ig--radio">
                <input class="input_radio" type="radio" id="question-1_2" name="question_1" autocomplete="off" data-option="closer" required="required"/>
                <label for="question-1_2">I’m at the US$100k+ a year level &amp; looking to seriously scale!</label>
              </div>
              <div class="input-group ig--radio">
                <input class="input_radio" type="radio" id="question-1_3" name="question_1" autocomplete="off" data-option="closer" required="required"/>
                <label for="question-1_3">My business is at US$70 - $100k/year &amp; I  want epic mentoring for divine growth.</label>
              </div>
              <div class="input-group ig--radio">
                <input class="input_radio" type="radio" id="question-1_4" name="question_1" autocomplete="off" data-option="setter" required="required"/>
                <label for="question-1_4">My online business is making US$30 - $70K a year &amp; I am ready to invest at least US$5K for massive ROI. </label>
              </div>
              <div class="input-group ig--radio">
                <input class="input_radio" type="radio" id="question-1_5" name="question_1" autocomplete="off" data-option="setter" required="required"/>
                <label for="question-1_5">My day job is making me US$30-70K a year &amp; I am ready to invest at least US$5K for serious ROI. </label>
              </div>
              <div class="input-group ig--radio">
                <input class="input_radio" type="radio" id="question-1_6" name="question_1" autocomplete="off" data-option="setter" required="required"/>
                <label for="question-1_6">I’m at the start of my online business &amp; have less than US$3K ready in cash or credit ready to invest.</label>
              </div>
              <div class="input-group ig--radio">
                <input class="input_radio" type="radio" id="question-1_7" name="question_1" autocomplete="off" data-option="rejected" required="required"/>
                <label for="question-1_7">I’m not able to invest in the growth of my business at this time.</label>
              </div>
            </div>
          </div>
          <div class="form-button__container">
            <button class="button animated-button1" type="submit"><span></span><span></span><span></span><span></span>
              <p class="fflato pink mb-0 text-uppercase">Submit</p>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>