
<div class="slider-testimonials">
  <div class="swiper slider-testimonials__modal">
    <div class="swiper-wrapper">
      <div class="swiper-slide" data-name="syma">
        <div class="stm__testimony">
          <div class="stm__t-header">
            <h6 class="fflato t__description">Syma had a <span class="pink">$100K launch in 6 weeks after joining </span>6-Figure Diva and shifted out of exhausting private work! </h6>
          </div>
          <div class="stm__t-body">
            <div class="video-play vp--right">
              <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__gold play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/538480543"><img class="img-fluid play-icon" src="img/icons/icon-play-gold.png" alt="Play Icon"/></a>
                <p class="ffcormorantGaramond gold-text text-uppercase mb-0 t__watch">watch video</p>
              </div>
              <div class="text-container">
                <p class="ffjosefin gold-text mb-0 t__name">Syma</p>
              </div>
            </div>
            <div class="video-image">
              <picture><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/syma.jpg" alt="Syma"/></picture>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="randina">
        <div class="stm__testimony">
          <div class="stm__t-header">
            <h6 class="fflato t__description">Randina doubled her monthly income in 4 weeks and reached <span class="pink">$500K in sales in 6 months.</span></h6>
          </div>
          <div class="stm__t-body">
            <div class="video-play vp--left">
              <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__gold play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/349353830"><img class="img-fluid play-icon" src="img/icons/icon-play-gold.png" alt="Play Icon"/></a>
                <p class="ffcormorantGaramond gold-text text-uppercase mb-0 t__watch">watch video</p>
              </div>
              <div class="text-container">
                <p class="ffjosefin gold-text mb-0 t__name">Randina</p>
              </div>
            </div>
            <div class="video-image">
              <picture><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/randina.jpg" alt="Randina"/></picture>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="robin">
        <div class="stm__testimony">
          <div class="stm__t-header">
            <h6 class="fflato t__description">Healer Robin made <span class="pink">$580K in 3 weeks</span> packaging up her sacred work and is now headed into <span class="pink">her first $2M year.</span></h6>
          </div>
          <div class="stm__t-body">
            <div class="video-play vp--left">
              <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__gold play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/694688271"><img class="img-fluid play-icon" src="img/icons/icon-play-gold.png" alt="Play Icon"/></a>
                <p class="ffcormorantGaramond gold-text text-uppercase mb-0 t__watch">watch video</p>
              </div>
              <div class="text-container">
                <p class="ffjosefin gold-text mb-0 t__name">Robin</p>
              </div>
            </div>
            <div class="video-image">
              <picture><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/robin.jpg" alt="Robin"/></picture>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="kate">
        <div class="stm__testimony">
          <div class="stm__t-header">
            <h6 class="fflato t__description">Kate went from inconsistent cash flow to <span class="pink">$66,000 in course sales in her first few months.</span></h6>
          </div>
          <div class="stm__t-body">
            <div class="video-play vp--left">
              <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__gold play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/408672496"><img class="img-fluid play-icon" src="img/icons/icon-play-gold.png" alt="Play Icon"/></a>
                <p class="ffcormorantGaramond gold-text text-uppercase mb-0 t__watch">watch video</p>
              </div>
              <div class="text-container">
                <p class="ffjosefin gold-text mb-0 t__name">Kate</p>
              </div>
            </div>
            <div class="video-image">
              <picture><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/kate.jpg" alt="Kate"/></picture>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="Scarlett">
        <div class="stm__testimony">
          <div class="stm__t-header">
            <h6 class="fflato t__description">Within one year, Scarlett went from couch surfing to <span class="pink">selling $200K</span> in her group music and healing program.</h6>
          </div>
          <div class="stm__t-body">
            <div class="video-play vp--right">
              <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__gold play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/524630523"><img class="img-fluid play-icon" src="img/icons/icon-play-gold.png" alt="Play Icon"/></a>
                <p class="ffcormorantGaramond gold-text text-uppercase mb-0 t__watch">watch video</p>
              </div>
              <div class="text-container">
                <p class="ffjosefin gold-text mb-0 t__name">Scarlett</p>
              </div>
            </div>
            <div class="video-image">
              <picture><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/scarlett.jpg" alt="Scarlett"/></picture>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="natalie">
        <div class="stm__testimony">
          <div class="stm__t-header">
            <h6 class="fflato t__description">After doing 2 other masterminds with no income growth, Natalie joined 7-Figure Diva, redesigned her offer and brand, and had her first <span class="pink">$100K week 5 months later.</span></h6>
          </div>
          <div class="stm__t-body">
            <div class="video-play vp--left">
              <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__gold play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/530093685"><img class="img-fluid play-icon" src="img/icons/icon-play-gold.png" alt="Play Icon"/></a>
                <p class="ffcormorantGaramond gold-text text-uppercase mb-0 t__watch">watch video</p>
              </div>
              <div class="text-container">
                <p class="ffjosefin gold-text mb-0 t__name">Natalie</p>
              </div>
            </div>
            <div class="video-image">
              <picture><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/natalie.jpg" alt="Natalie"/></picture>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="shun">
        <div class="stm__testimony">
          <div class="stm__t-header">
            <h6 class="fflato t__description">Pastor Shun went from struggling to make ends meet to consistent cash flow at <span class="pink">$35K a month</span> in just 1 year.</h6>
          </div>
          <div class="stm__t-body">
            <div class="video-play vp--right">
              <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__pink play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/533401537"><img class="img-fluid play-icon" src="img/icons/icon-play-pink.png" alt="Play Icon"/></a>
                <p class="ffcormorantGaramond pink text-uppercase mb-0 t__watch">watch video</p>
              </div>
              <div class="text-container">
                <p class="ffjosefin black mb-0 t__name">Shun</p>
              </div>
            </div>
            <div class="video-image">
              <picture><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/shun.jpg" alt="Shun"/></picture>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="vero">
        <div class="stm__testimony">
          <div class="stm__t-header">
            <h6 class="fflato t__description">Within six months, Vero went from corporate hell to being a CEO and launching her group offer, and now makes between <span class="pink">$50K and $85K a month</span> recurring revenue.</h6>
          </div>
          <div class="stm__t-body">
            <div class="video-play vp--left">
              <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__gold play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/548700493"><img class="img-fluid play-icon" src="img/icons/icon-play-gold.png" alt="Play Icon"/></a>
                <p class="ffcormorantGaramond gold-text text-uppercase mb-0 t__watch">watch video</p>
              </div>
              <div class="text-container">
                <p class="ffjosefin gold-text mb-0 t__name">Vero</p>
              </div>
            </div>
            <div class="video-image">
              <picture><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/vero.jpg" alt="Vero"/></picture>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="jessica">
        <div class="stm__testimony">
          <div class="stm__t-header">
            <h6 class="fflato t__description">Business and marketing strategist JESSICA scaled from $7K months to <span class="pink">consistent $50K months…</span> in just 8 weeks.</h6>
          </div>
          <div class="stm__t-body">
            <div class="video-play vp--left">
              <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__pink play-embedded-video-in-modal" href="javascript:;" data-url=""><img class="img-fluid play-icon" src="img/icons/icon-play-pink.png" alt="Play Icon"/></a>
                <p class="ffcormorantGaramond pink text-uppercase mb-0 t__watch">watch video</p>
              </div>
              <div class="text-container">
                <p class="ffjosefin black mb-0 t__name">Jessica</p>
              </div>
            </div>
            <div class="video-image">
              <picture><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/jessica.jpg" alt="Jessica"/></picture>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <div class="slider-custom-arrows">
    <div class="swiper slider-testimonials-thumbnails" thumbsSlider="">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="stt__img"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/thumbnails/syma.png" alt="Thumbnail Syma"/></div>
          <h4 class="ffjosefin stt__name">Syma</h4>
        </div>
        <div class="swiper-slide">
          <div class="stt__img"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/thumbnails/randina.png" alt="Thumbnail Randina"/></div>
          <h4 class="ffjosefin stt__name">Randina</h4>
        </div>
        <div class="swiper-slide">
          <div class="stt__img"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/thumbnails/robin.png" alt="Thumbnail Robin"/></div>
          <h4 class="ffjosefin stt__name">Robin</h4>
        </div>
        <div class="swiper-slide">
          <div class="stt__img"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/thumbnails/kate.png" alt="Thumbnail Kate"/></div>
          <h4 class="ffjosefin stt__name">Kate</h4>
        </div>
        <div class="swiper-slide">
          <div class="stt__img"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/thumbnails/scarlett.png" alt="Thumbnail Scarlett"/></div>
          <h4 class="ffjosefin stt__name">Scarlett</h4>
        </div>
        <div class="swiper-slide">
          <div class="stt__img"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/thumbnails/natalie.png" alt="Thumbnail Natalie"/></div>
          <h4 class="ffjosefin stt__name">Natalie</h4>
        </div>
        <div class="swiper-slide">
          <div class="stt__img"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/thumbnails/shun.png" alt="Thumbnail Shun"/></div>
          <h4 class="ffjosefin stt__name">Shun</h4>
        </div>
        <div class="swiper-slide">
          <div class="stt__img"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/thumbnails/vero.png" alt="Thumbnail Vero"/></div>
          <h4 class="ffjosefin stt__name">Vero</h4>
        </div>
        <div class="swiper-slide">
          <div class="stt__img"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/thumbnails/jessica.png" alt="Thumbnail Jessica"/></div>
          <h4 class="ffjosefin stt__name">Jessica</h4>
        </div>
      </div>
    </div>
    <div class="sca-next"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/right-arrow.png" alt="Right arrow"/></div>
    <div class="sca-prev"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/left-arrow.png" alt="Left arrow"/></div>
  </div>
</div>