
<section class="block-modules">
  <div class="container"> 
    <div class="slide__modules">
      <div class="swiper-expanded-modules">
        <div class="swiper expanded-modules">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="sm__container">
                <div class="sm__button">
                  <div class="button__buy-now"></div>
                </div>
                <div class="sm__banner">
                  <video class="d-none d-sm-block" autoplay="autoplay" muted="muted" loop="loop" preload="none">
                    <source src="https://ingridarna-wp-staging-uploads.s3.amazonaws.com/6fd/PACKAGING-DIVA.webmhd.webm" type="video/webm"/>
                    <Your>browser does not support HTML video.</Your>
                  </video>
                  <video class="d-block d-sm-none" autoplay="autoplay" playsinline="playsinline" muted="muted" loop="loop" preload="none">
                    <source src="https://ingridarna-wp-staging-uploads.s3.amazonaws.com/6fd/packaging.mp4" type="video/mp4"/>
                    <source src="https://ingridarna-wp-staging-uploads.s3.amazonaws.com/6fd/PACKAGING-DIVA.webmhd.webm" type="video/webm"/>
                    <Your>browser does not support HTML video.</Your>
                  </video>
                </div>
                <div class="sm__text">
                  <h2 class="ffwonderful black t__title">Packaging Diva</h2>
                  <div class="smt__row"> 
                    <div class="smt__col smt__value">
                      <!--span.ffinter.pink.t__value Value: $10,000-->
                      <div class="ffinter pink t__value" data-value="10.000">Value: $<span>10,000</span></div>
                      <div class="t__module-number"><img class="img-fluid tmm__text-module" src="img/bg_images/slider-modules/text-module.png" alt="Text module"/>
                        <h3 class="ffcormorantGaramond black tmn__number"><span class="t__symbol">#</span><span class="t__number">1</span></h3>
                      </div>
                    </div>
                    <div class="smt__col smt__text">
                      <p class="ffroboto black mb-0">Learn what it really takes to harness and deliver your <br>brilliance in the most potent package possible. This <br>isn’t about slapping a high price on a lame offer. We <br>dive into crafting and structuring the most <br>transformative package and framework for your work <br>with your dream clients.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sm__container">
                <div class="sm__button">
                  <div class="button__buy-now"></div>
                </div>
                <div class="sm__banner">
                  <picture class="d-none d-sm-block">
                    <source class="img-fluid" type="image/webp" srcset="img/bg_images/slider-modules/banner-expand-2.webp"/><img class="img-fluid" src="img/bg_images/slider-modules/banner-expand-2.jpg" alt="Banner expand 2"/>
                  </picture>
                  <picture class="d-block d-sm-none"><img class="img-fluid" src="img/bg_images/slider-modules/banner-expand-2-m.jpg" alt="Banner expand 2"/></picture>
                </div>
                <div class="sm__text">
                  <h2 class="ffwonderful black t__title">Pricing Diva</h2>
                  <div class="smt__row"> 
                    <div class="smt__col smt__value">
                      <div class="ffinter pink t__value" data-value="3.000">Value: $<span>0,000</span></div>
                      <div class="t__module-number"><img class="img-fluid tmm__text-module" src="img/bg_images/slider-modules/text-module.png" alt="Text module"/>
                        <h3 class="ffcormorantGaramond black tmn__number"><span class="t__symbol">#</span><span class="t__number">2</span></h3>
                      </div>
                    </div>
                    <div class="smt__col smt__text">
                      <p class="ffroboto black">Take that sacred, irresistible offer and price it for its <br>transformational VALUE, not for your time.</p>
                      <p class="ffroboto black mb-0">Breaking up with the ‘time for money’ approach is <br>your first step to financial freedom and what took me <br>from a broke and broken woman to a fully <br>empowered diva who loves her life and is building a <br>legacy.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sm__container">
                <div class="sm__button">
                  <div class="button__buy-now"></div>
                </div>
                <div class="sm__banner">
                  <picture class="d-none d-sm-block">
                    <source class="img-fluid" type="image/webp" srcset="img/bg_images/slider-modules/banner-expand-3.webp"/><img class="img-fluid" src="img/bg_images/slider-modules/banner-expand-3.jpg" alt="Banner expand 3"/>
                  </picture>
                  <picture class="d-block d-sm-none"><img class="img-fluid" src="img/bg_images/slider-modules/banner-expand-3-m.jpg" alt="Banner expand 3"/></picture>
                </div>
                <div class="sm__text">
                  <h2 class="ffwonderful black t__title">Scale Diva</h2>
                  <div class="smt__row"> 
                    <div class="smt__col smt__value">
                      <div class="ffinter pink t__value" data-value="3.000">Value: $<span>0,000</span></div>
                      <div class="t__module-number"><img class="img-fluid tmm__text-module" src="img/bg_images/slider-modules/text-module.png" alt="Text module"/>
                        <h3 class="ffcormorantGaramond black tmn__number"><span class="t__symbol">#</span><span class="t__number">3</span></h3>
                      </div>
                    </div>
                    <div class="smt__col smt__text">
                      <p class="ffroboto black mb-0">Discover how to take your juicy-AF offer content and <br>make it scalable, gorgeous. This includes designing <br>your value ladder with incredible upsells and <br>downsells that will have your clients pulling out their<br> credit cards at light speed, freeing you from fretting about cash flow forever. It’s time to make your heart sing<br> and your cash register ring, as you play a bigger game. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sm__container">
                <div class="sm__button">
                  <div class="button__buy-now"></div>
                </div>
                <div class="sm__video">
                  <video class="d-none d-sm-block" autoplay="autoplay" muted="muted" loop="loop" preload="none">
                    <source src="https://ingridarna-wp-staging-uploads.s3.amazonaws.com/6fd/modules/module-4.webmhd.webm" type="video/webm"/>
                    <Your>browser does not support HTML video.</Your>
                  </video>
                  <video class="d-block d-sm-none" autoplay="autoplay" muted="muted" loop="loop" preload="none">
                    <source src="https://ingridarna-wp-staging-uploads.s3.amazonaws.com/6fd/modules/module-4-mobile.webmhd.webm" type="video/webm"/>
                    <Your>browser does not support HTML video.</Your>
                  </video>
                </div>
                <div class="sm__text">
                  <h2 class="ffwonderful black t__title">Social Siren Diva</h2>
                  <div class="smt__row"> 
                    <div class="smt__col smt__value">
                      <div class="ffinter pink t__value" data-value="3.000">Value: $<span>0,000</span></div>
                      <div class="t__module-number"><img class="img-fluid tmm__text-module" src="img/bg_images/slider-modules/text-module.png" alt="Text module"/>
                        <h3 class="ffcormorantGaramond black tmn__number"><span class="t__symbol">#</span><span class="t__number">4</span></h3>
                      </div>
                    </div>
                    <div class="smt__col smt__text">
                      <p class="ffroboto black">If you want to scale to 6 to 7 figures starting tomorrow, <br>you need to master social media STAT, darling!</p>
                      <p class="ffroboto black mb-0">Learn the high-energy, attention-grabbing, untold <br>secrets to standing out online and serving up your <br>secret sauce in stellar style. It’s time for you to shine <br>like a boss diva and make the competition irrelevant,<br> ditching any comparisonitis and feelings of not <br>enoughness for good.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sm__container">
                <div class="sm__button">
                  <div class="button__buy-now"></div>
                </div>
                <div class="sm__banner">
                  <picture class="d-none d-sm-block">
                    <source class="img-fluid" type="image/webp" srcset="img/bg_images/slider-modules/banner-expand-5.webp"/><img class="img-fluid" src="img/bg_images/slider-modules/banner-expand-5.jpg" alt="Banner expand 5"/>
                  </picture>
                  <picture class="d-block d-sm-none">
                    <source class="img-fluid" type="image/webp" srcset="img/bg_images/slider-modules/banner-expand-5.webp"/><img class="img-fluid" src="img/bg_images/slider-modules/banner-expand-5.jpg" alt="Banner expand 5"/>
                  </picture>
                </div>
                <div class="sm__text">
                  <h2 class="ffwonderful black t__title">Sales Diva</h2>
                  <div class="smt__row"> 
                    <div class="smt__col smt__value">
                      <div class="ffinter pink t__value" data-value="5.000">Value: $<span>0,000</span></div>
                      <div class="t__module-number"><img class="img-fluid tmm__text-module" src="img/bg_images/slider-modules/text-module.png" alt="Text module"/>
                        <h3 class="ffcormorantGaramond black tmn__number"><span class="t__symbol">#</span><span class="t__number">5</span></h3>
                      </div>
                    </div>
                    <div class="smt__col smt__text">
                      <p class="ffroboto black">Go from feeling like a shame-ridden scumbag when <br>making a sale to knowing you’re 100% worthy and <br>being a pure channel for service, riches, and <br>transformation.</p>
                      <p class="ffroboto black mb-0">Harness the power of soulful, feminine selling and all <br>the strategy, structure, and smarts you need along the <br>way to activate a client’s buying desire—and then <br>convert that into cash.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sm__container">
                <div class="sm__button">
                  <div class="button__buy-now"></div>
                </div>
                <div class="sm__video">
                  <video class="d-none d-sm-block" autoplay="autoplay" muted="muted" loop="loop" preload="none">
                    <source src="https://ingridarna-wp-staging-uploads.s3.amazonaws.com/6fd/modules/module-6.webmhd.webm" type="video/webm"/>
                    <Your>browser does not support HTML video.</Your>
                  </video>
                  <video class="d-block d-sm-none" autoplay="autoplay" muted="muted" loop="loop" preload="none">
                    <source src="https://ingridarna-wp-staging-uploads.s3.amazonaws.com/6fd/modules/module-6-mobile.webmhd.webm" type="video/webm"/>
                    <Your>browser does not support HTML video.</Your>
                  </video>
                </div>
                <div class="sm__text">
                  <h2 class="ffwonderful black t__title">Video Diva</h2>
                  <div class="smt__row"> 
                    <div class="smt__col smt__value">
                      <div class="ffinter pink t__value" data-value="3.000">Value: $<span>0,000</span></div>
                      <div class="t__module-number"><img class="img-fluid tmm__text-module" src="img/bg_images/slider-modules/text-module.png" alt="Text module"/>
                        <h3 class="ffcormorantGaramond black tmn__number"><span class="t__symbol">#</span><span class="t__number">6</span></h3>
                      </div>
                    </div>
                    <div class="smt__col smt__text">
                      <p class="ffroboto black">Do you want to propel your message into the world <br>and reach millions in one fell swoop? Then you must<br> master video, diva!</p>
                      <p class="ffroboto black mb-0">It’s time to kick fear to the curb and step powerfully <br>onto center stage, so you can drive sales while <br>sharing your heart, mission, and message. Get ready <br>to become the star of your own show by becoming a <br>video vixen! And babe, I’m going to show you how, <br>even if the thought of getting on video at the moment <br>makes you want to puke!</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sm__container">
                <div class="sm__button">
                  <div class="button__buy-now"></div>
                </div>
                <div class="sm__video">
                  <video class="d-none d-sm-block" autoplay="autoplay" muted="muted" loop="loop" preload="none">
                    <source src="https://ingridarna-wp-staging-uploads.s3.amazonaws.com/6fd/modules/module-7.webmhd.webm" type="video/webm"/>
                    <Your>browser does not support HTML video.</Your>
                  </video>
                  <video class="d-block d-sm-none" autoplay="autoplay" muted="muted" loop="loop" preload="none">
                    <source src="https://ingridarna-wp-staging-uploads.s3.amazonaws.com/6fd/modules/module-7-mobile.webmhd.webm" type="video/webm"/>
                    <Your>browser does not support HTML video.</Your>
                  </video>
                </div>
                <div class="sm__text">
                  <h2 class="ffwonderful black t__title">Email Diva</h2>
                  <div class="smt__row"> 
                    <div class="smt__col smt__value">
                      <div class="ffinter pink t__value" data-value="3.000">Value: $<span>0,000</span></div>
                      <div class="t__module-number"><img class="img-fluid tmm__text-module" src="img/bg_images/slider-modules/text-module.png" alt="Text module"/>
                        <h3 class="ffcormorantGaramond black tmn__number"><span class="t__symbol">#</span><span class="t__number">7</span></h3>
                      </div>
                    </div>
                    <div class="smt__col smt__text">
                      <p class="ffroboto black mb-0">Learn the frameworks to high-converting email <br>campaigns so you can start selling your divine offers <br>while you sleep. Discover the keys to writing <br>soul-aligned, compelling copy that connects with <br>heart right from the start—giving you the power to <br>sell anything, at any time. This is all about unleashing <br>your inner word witch, so you can rock your message <br>to connect with soulmate clients and rev up sales. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sm__container">
                <div class="sm__button">
                  <div class="button__buy-now"></div>
                </div>
                <div class="sm__video">
                  <video class="d-none d-sm-block" autoplay="autoplay" muted="muted" loop="loop" preload="none">
                    <source src="https://ingridarna-wp-staging-uploads.s3.amazonaws.com/6fd/modules/module-8.webmhd.webm" type="video/webm"/>
                    <Your>browser does not support HTML video.</Your>
                  </video>
                  <video class="d-block d-sm-none" autoplay="autoplay" muted="muted" loop="loop" preload="none">
                    <source src="https://ingridarna-wp-staging-uploads.s3.amazonaws.com/6fd/modules/module-8-mobile.webmhd.webm" type="video/webm"/>
                    <Your>browser does not support HTML video.</Your>
                  </video>
                </div>
                <div class="sm__text">
                  <h2 class="ffwonderful black t__title">Brand Diva</h2>
                  <div class="smt__row"> 
                    <div class="smt__col smt__value">
                      <div class="ffinter pink t__value" data-value="3.000">Value: $<span>0,000</span></div>
                      <div class="t__module-number"><img class="img-fluid tmm__text-module" src="img/bg_images/slider-modules/text-module.png" alt="Text module"/>
                        <h3 class="ffcormorantGaramond black tmn__number"><span class="t__symbol">#</span><span class="t__number">8</span></h3>
                      </div>
                    </div>
                    <div class="smt__col smt__text">
                      <p class="ffroboto black mb-0">Own your brilliance and master the art of being YOU, <br>boldly and confidently. Escape from speaking to the <br>online black hole of nothingness and to no one in <br>particular to deeply understanding the psychology of <br>a 7-figure brand and how to clarify your method, <br>teachings and story to bring in the big bucks!</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sm__container">
                <div class="sm__button">
                  <div class="button__buy-now"></div>
                </div>
                <div class="sm__banner">
                  <picture class="d-none d-sm-block">
                    <source class="img-fluid" type="image/webp" srcset="img/bg_images/slider-modules/banner-expand-9.webp"/><img class="img-fluid" src="img/bg_images/slider-modules/banner-expand-9.jpg" alt="Banner expand 9"/>
                  </picture>
                  <picture class="d-block d-sm-none"><img class="img-fluid" src="img/bg_images/slider-modules/banner-expand-9-m.jpg" alt="Banner expand 9"/></picture>
                </div>
                <div class="sm__text">
                  <h2 class="ffwonderful black t__title">Marketing Diva</h2>
                  <div class="smt__row"> 
                    <div class="smt__col smt__value">
                      <div class="ffinter pink t__value" data-value="3.000">Value: $<span>0,000</span></div>
                      <div class="t__module-number"><img class="img-fluid tmm__text-module" src="img/bg_images/slider-modules/text-module.png" alt="Text module"/>
                        <h3 class="ffcormorantGaramond black tmn__number"><span class="t__symbol">#</span><span class="t__number">9</span></h3>
                      </div>
                    </div>
                    <div class="smt__col smt__text">
                      <p class="ffroboto black mb-0">Own your brilliance and master the art of being YOU, <br>boldly and confidently. Escape from speaking to the <br>online black hole of nothingness and to no one in <br>particular to deeply understanding the psychology of <br>a 7-figure brand and how to clarify your method, <br>teachings and story to bring in the big bucks!</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sm__container">
                <div class="sm__button">
                  <div class="button__buy-now"></div>
                </div>
                <div class="sm__banner">
                  <picture class="d-none d-sm-block">
                    <source class="img-fluid" type="image/webp" srcset="img/bg_images/slider-modules/banner-expand-10.webp"/><img class="img-fluid" src="img/bg_images/slider-modules/banner-expand-10.jpg" alt="Banner expand 10"/>
                  </picture>
                  <picture class="d-block d-sm-none"><img class="img-fluid" src="img/bg_images/slider-modules/banner-expand-10-m.jpg" alt="Banner expand 10"/></picture>
                </div>
                <div class="sm__text">
                  <h2 class="ffwonderful black t__title">Launch Diva</h2>
                  <div class="smt__row"> 
                    <div class="smt__col smt__value">
                      <div class="ffinter pink t__value" data-value="2.000">Value: $<span>0,000</span></div>
                      <div class="t__module-number number-2-digits"><img class="img-fluid tmm__text-module" src="img/bg_images/slider-modules/text-module.png" alt="Text module"/>
                        <h3 class="ffcormorantGaramond black tmn__number"><span class="t__symbol">#</span><span class="t__number">10</span></h3>
                      </div>
                    </div>
                    <div class="smt__col smt__text">
                      <p class="ffroboto black">This is where it all comes together, diva, and you <br>energetically and strategically balance the feminine <br>(yin) and masculine (yang) to drive your business <br>forward with love, grace, and crystal clear strategy.</p>
                      <p class="ffroboto black mb-0">Now that you have your pricing, positioning, and <br>packaging on point, it’s time for your super-charged <br>launch! This module gives you the plan, power, and <br>pow.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide sm-module11">
              <div class="sm__container">
                <div class="sm__button">
                  <div class="button__buy-now"></div>
                </div>
                <div class="sm__banner">
                  <picture class="d-none d-sm-block">
                    <source class="img-fluid" type="image/webp" srcset="img/bg_images/slider-modules/banner-expand-11.webp"/><img class="img-fluid" src="img/bg_images/slider-modules/banner-expand-11.jpg" alt="Banner expand 11"/>
                  </picture>
                  <picture class="d-block d-sm-none">
                    <source class="img-fluid" type="image/webp" srcset="img/bg_images/slider-modules/banner-expand-11.webp"/><img class="img-fluid" src="img/bg_images/slider-modules/banner-expand-11.jpg" alt="Banner expand 11"/>
                  </picture>
                </div>
                <div class="sm__text">
                  <h2 class="ffwonderful black t__title">Manifesting & <br class="br-767">Healing Diva</h2>
                  <div class="smt__row"> 
                    <div class="smt__col smt__value">
                      <div class="ffinter pink t__value" data-value="3.000">Value: $<span>0,000</span></div>
                      <div class="t__module-number number-2-digits"><img class="img-fluid tmm__text-module" src="img/bg_images/slider-modules/text-module.png" alt="Text module"/>
                        <h3 class="ffcormorantGaramond black tmn__number"><span class="t__symbol">#</span><span class="t__number">11</span></h3>
                      </div>
                    </div>
                    <div class="smt__col smt__text">
                      <p class="ffroboto black mb-0">Get your hands on the most potent tools, activations, <br>and strategic blueprints our students RAVE about… <br>all in one place. With this module, you’ll access <br>healing and ascension resources to raise your <br>vibration, clear cobwebs, and embody your new rich <br>diva reality.</p>
                    </div>
                  </div>
                  <div class="smt__these-include">
                    <div class="smt__ti-img">
                      <picture class="animated-image"><img class="img-fluid" src="img/bg_images/slider-modules/animated/a1.png" alt="Animated image 1"/></picture>
                      <picture class="animated-image"><img class="img-fluid" src="img/bg_images/slider-modules/animated/a2.png" alt="Animated image 2"/></picture>
                      <picture class="animated-image"><img class="img-fluid" src="img/bg_images/slider-modules/animated/a3.png" alt="Animated image 3"/></picture>
                      <picture class="animated-image"><img class="img-fluid" src="img/bg_images/slider-modules/animated/a4.png" alt="Animated image 4"/></picture>
                      <picture class="animated-image"><img class="img-fluid" src="img/bg_images/slider-modules/animated/a5.png" alt="Animated image 5"/></picture>
                      <picture class="animated-image"><img class="img-fluid" src="img/bg_images/slider-modules/animated/a6.png" alt="Animated image 6"/></picture>
                      <picture class="animated-image"><img class="img-fluid" src="img/bg_images/slider-modules/animated/a7.png" alt="Animated image 7"/></picture>
                      <picture class="animated-image"><img class="img-fluid" src="img/bg_images/slider-modules/animated/a8.png" alt="Animated image 8"/></picture>
                      <picture class="animated-image"><img class="img-fluid" src="img/bg_images/slider-modules/animated/a9.png" alt="Animated image 9"/></picture>
                      <picture class="animated-image"><img class="img-fluid" src="img/bg_images/slider-modules/animated/a10.png" alt="Animated image 10"/></picture>
                      <picture class="animated-image"><img class="img-fluid" src="img/bg_images/slider-modules/animated/a11.png" alt="Animated image 11"/></picture>
                      <picture class="animated-image"><img class="img-fluid" src="img/bg_images/slider-modules/animated/a12.png" alt="Animated image 12"/></picture>
                    </div>
                    <div class="smt__ti-list">
                      <p class="ffroboto black t__these">These include:</p>
                      <ul class="ticks__pink">
                        <li class="ffroboto">Money Miracle Matrix Playbook</li>
                        <li class="ffroboto">Money Karma Drama Detox Meditation</li>
                        <li class="ffroboto">Lady Boss Program Creatrix Meditation</li>
                        <li class="ffroboto">Soul Priestess Class 1—Releasing Agreements</li>
                        <li class="ffroboto">Soul Priestess Class 2—Loving Yourself to Wealth</li>
                        <li class="ffroboto">Soul-fueled Selling Meditation</li>
                        <li class="ffroboto">Sales Queen Diva Mantra</li>
                        <li class="ffroboto">Intent and Energy in Business</li>
                        <li class="ffroboto">Ride the Wave of your Ascension</li>
                        <li class="ffroboto">Sales, Speed and Ascension</li>
                        <li class="ffroboto">Embodying Riches</li>
                        <li class="ffroboto">Money Reality and Making Change</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
        <div class="custom-swiper-button-prev">
          <h4 class="ffroboto"><span class="fflato">←</span> Previous module</h4>
        </div>
        <div class="custom-swiper-button-next"><a class="circular-button" href="javascript:;"><span class="ffinter">Next module <br>→</span></a></div>
      </div>
      <div class="swiper slide-navigation" thumbsSlider="">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="sn__module">
              <h3 class="ffcormorantGaramond t__number">#1:</h3>
              <h3 class="ffcormorantGaramond t__text">Module</h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="sn__module">
              <h3 class="ffcormorantGaramond t__number">#2:</h3>
              <h3 class="ffcormorantGaramond t__text">Module</h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="sn__module">
              <h3 class="ffcormorantGaramond t__number">#3:</h3>
              <h3 class="ffcormorantGaramond t__text">Module</h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="sn__module">
              <h3 class="ffcormorantGaramond t__number">#4:</h3>
              <h3 class="ffcormorantGaramond t__text">Module</h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="sn__module">
              <h3 class="ffcormorantGaramond t__number">#5:</h3>
              <h3 class="ffcormorantGaramond t__text">Module</h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="sn__module">
              <h3 class="ffcormorantGaramond t__number">#6:</h3>
              <h3 class="ffcormorantGaramond t__text">Module</h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="sn__module">
              <h3 class="ffcormorantGaramond t__number">#7:</h3>
              <h3 class="ffcormorantGaramond t__text">Module</h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="sn__module">
              <h3 class="ffcormorantGaramond t__number">#8:</h3>
              <h3 class="ffcormorantGaramond t__text">Module</h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="sn__module">
              <h3 class="ffcormorantGaramond t__number">#9:</h3>
              <h3 class="ffcormorantGaramond t__text">Module</h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="sn__module">
              <h3 class="ffcormorantGaramond t__number">#10:</h3>
              <h3 class="ffcormorantGaramond t__text">Module</h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="sn__module">
              <h3 class="ffcormorantGaramond t__number">#11:</h3>
              <h3 class="ffcormorantGaramond t__text">Module</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>