
<div class="slider-testimonials">
  <div class="swiper slider-testimonials__modal">
    <div class="swiper-wrapper">
      <div class="swiper-slide" data-name="jocelyn">
        <div class="stm__testimony">
          <div class="stm__t-header">
            <h6 class="fflato t__description">Jocelyn went from $10K a month to <span class="pink">$30K a month</span> over 6 months in the 7- Figure Diva program selling private offers and courses.</h6>
          </div>
          <div class="stm__t-body">
            <div class="video-play vp--right">
              <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__gold play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/445096890"><img class="img-fluid play-icon" src="img/icons/icon-play-gold.png" alt="Play Icon"/></a>
                <p class="ffcormorantGaramond gold-text text-uppercase mb-0 t__watch">watch video</p>
              </div>
              <div class="text-container">
                <p class="ffjosefin gold-text mb-0 t__name">Jocelyn</p>
              </div>
            </div>
            <div class="video-image">
              <picture><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/jocelyn.jpg" alt="Jocelyn"/></picture>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="marilyn">
        <div class="stm__testimony">
          <div class="stm__t-header">
            <h6 class="fflato t__description">Marilyn went from $100 sessions to selling her <span class="pink">$15K teacher training.</span></h6>
          </div>
          <div class="stm__t-body">
            <div class="video-play vp--right">
              <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__gold play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/680683181"><img class="img-fluid play-icon" src="img/icons/icon-play-gold.png" alt="Play Icon"/></a>
                <p class="ffcormorantGaramond gold-text text-uppercase mb-0 t__watch">watch video</p>
              </div>
              <div class="text-container">
                <p class="ffjosefin gold-text mb-0 t__name">Marilyn</p>
              </div>
            </div>
            <div class="video-image">
              <picture><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/marilyn.jpg" alt="Marilyn"/></picture>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="syma">
        <div class="stm__testimony">
          <div class="stm__t-header">
            <h6 class="fflato t__description">Syma had a <span class="pink">$100K launch in 6 weeks after joining </span>6-Figure Diva and shifted out of exhausting private work! </h6>
          </div>
          <div class="stm__t-body">
            <div class="video-play vp--right">
              <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__gold play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/538480543"><img class="img-fluid play-icon" src="img/icons/icon-play-gold.png" alt="Play Icon"/></a>
                <p class="ffcormorantGaramond gold-text text-uppercase mb-0 t__watch">watch video</p>
              </div>
              <div class="text-container">
                <p class="ffjosefin gold-text mb-0 t__name">Syma</p>
              </div>
            </div>
            <div class="video-image">
              <picture><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/syma.jpg" alt="Syma"/></picture>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="randina">
        <div class="stm__testimony">
          <div class="stm__t-header">
            <h6 class="fflato t__description">Randina doubled her monthly income in 4 weeks and reached <span class="pink">$500K in sales in 6 months.</span></h6>
          </div>
          <div class="stm__t-body">
            <div class="video-play vp--left">
              <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__gold play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/349353830"><img class="img-fluid play-icon" src="img/icons/icon-play-gold.png" alt="Play Icon"/></a>
                <p class="ffcormorantGaramond gold-text text-uppercase mb-0 t__watch">watch video</p>
              </div>
              <div class="text-container">
                <p class="ffjosefin gold-text mb-0 t__name">Randina</p>
              </div>
            </div>
            <div class="video-image">
              <picture><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/randina.jpg" alt="Randina"/></picture>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="ahneyah">
        <div class="stm__testimony">
          <div class="stm__t-header">
            <h6 class="fflato t__description">Ahneyah went from barely being able to afford Ingrid’s course to selling <span class="pink">$200K</span> in her program directly from YouTube… <span class="pink">in just 5 months.</span></h6>
          </div>
          <div class="stm__t-body">
            <div class="video-play vp--left">
              <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__gold play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/348724624"><img class="img-fluid play-icon" src="img/icons/icon-play-gold.png" alt="Play Icon"/></a>
                <p class="ffcormorantGaramond gold-text text-uppercase mb-0 t__watch">watch video</p>
              </div>
              <div class="text-container">
                <p class="ffjosefin gold-text mb-0 t__name">Ahneyah</p>
              </div>
            </div>
            <div class="video-image">
              <picture><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/ahneyah.jpg" alt="Ahneyah"/></picture>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="kora">
        <div class="stm__testimony">
          <div class="stm__t-header">
            <h6 class="fflato t__description">After working with 2 coaches and making no sales, Kora chose to sell her car and join Ingrid’s program… and reached <span class="pink">$20K a month in 12 weeks.</span></h6>
          </div>
          <div class="stm__t-body">
            <div class="video-play vp--left">
              <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__pink play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/603570506"><img class="img-fluid play-icon" src="img/icons/icon-play-pink.png" alt="Play Icon"/></a>
                <p class="ffcormorantGaramond pink text-uppercase mb-0 t__watch">watch video</p>
              </div>
              <div class="text-container">
                <p class="ffjosefin black mb-0 t__name">Kora</p>
              </div>
            </div>
            <div class="video-image">
              <picture><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/kora.jpg" alt="Kora"/></picture>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="abi">
        <div class="stm__testimony">
          <div class="stm__t-header">
            <h6 class="fflato t__description">After working with 2 coaches and making no sales, Kora chose to sell her car and join Ingrid’s program… and reached <span class="pink">$20K a month in 12 weeks.</span></h6>
          </div>
          <div class="stm__t-body">
            <div class="video-play vp--left">
              <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__gold play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/348725832"><img class="img-fluid play-icon" src="img/icons/icon-play-gold.png" alt="Play Icon"/></a>
                <p class="ffcormorantGaramond gold-text text-uppercase mb-0 t__watch">watch video</p>
              </div>
              <div class="text-container">
                <p class="ffjosefin gold-text mb-0 t__name">Abi</p>
              </div>
            </div>
            <div class="video-image">
              <picture><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/abi.jpg" alt="Abi"/></picture>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <div class="slider-custom-arrows">
    <div class="swiper slider-testimonials-thumbnails" thumbsSlider="">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="stt__img"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/thumbnails/jocelyn.png" alt="Thumbnail Jocelyn"/></div>
          <h4 class="ffjosefin stt__name">Jocelyn</h4>
        </div>
        <div class="swiper-slide">
          <div class="stt__img"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/thumbnails/marilyn.png" alt="Thumbnail Marilyn"/></div>
          <h4 class="ffjosefin stt__name">Marilyn</h4>
        </div>
        <div class="swiper-slide">
          <div class="stt__img"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/thumbnails/syma.png" alt="Thumbnail Syma"/></div>
          <h4 class="ffjosefin stt__name">Syma</h4>
        </div>
        <div class="swiper-slide">
          <div class="stt__img"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/thumbnails/randina.png" alt="Thumbnail Randina"/></div>
          <h4 class="ffjosefin stt__name">Randina</h4>
        </div>
        <div class="swiper-slide">
          <div class="stt__img"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/thumbnails/ahneyah.png" alt="Thumbnail Ahneyah"/></div>
          <h4 class="ffjosefin stt__name">Ahneyah</h4>
        </div>
        <div class="swiper-slide">
          <div class="stt__img"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/thumbnails/kora.png" alt="Thumbnail Kora"/></div>
          <h4 class="ffjosefin stt__name">Kora</h4>
        </div>
        <div class="swiper-slide">
          <div class="stt__img"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/thumbnails/abi.png" alt="Thumbnail Abi"/></div>
          <h4 class="ffjosefin stt__name">Abi</h4>
        </div>
      </div>
    </div>
    <div class="sca-next"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/right-arrow.png" alt="Right arrow"/></div>
    <div class="sca-prev"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/left-arrow.png" alt="Left arrow"/></div>
  </div>
</div>