
<div class="slider-testimonials">
  <div class="swiper slider-testimonials__modal">
    <div class="swiper-wrapper">
      <div class="swiper-slide" data-name="jocelyn">
        <div class="stm__testimony">
          <div class="stm__t-header">
            <h6 class="fflato t__description"> Business coach JOCELYN went from soul-sucking corporate hell to working for herself and making $30K to $50K per month, bringing in <span class="pink">over $300K</span> in her first 6 months with us.</h6>
          </div>
          <div class="stm__t-body">
            <div class="video-play vp--right">
              <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__gold play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/445096890"><img class="img-fluid play-icon" src="img/icons/icon-play-gold.png" alt="Play Icon"/></a>
                <p class="ffcormorantGaramond gold-text text-uppercase mb-0 t__watch">watch video</p>
              </div>
              <div class="text-container">
                <p class="ffjosefin gold-text mb-0 t__name">Jocelyn</p>
              </div>
            </div>
            <div class="video-image">
              <picture><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/jocelyn.jpg" alt="Jocelyn"/></picture>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="jess">
        <div class="stm__testimony">
          <div class="stm__t-header">
            <h6 class="fflato t__description">Beauty diva JESS packaged up two teacher training programs for her clients and built a <span class="pink">$500K income stream</span> over 9 months. </h6>
          </div>
          <div class="stm__t-body">
            <div class="video-play vp--right">
              <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__black play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/446686645"><img class="img-fluid play-icon" src="img/icons/icon-play-pink.png" alt="Play Icon"/></a>
                <p class="ffcormorantGaramond pink text-uppercase mb-0 t__watch">watch video</p>
              </div>
              <div class="text-container">
                <p class="ffjosefin pink mb-0 t__name">Jess</p>
              </div>
            </div>
            <div class="video-image">
              <picture><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/jess.jpg" alt="Jess"/></picture>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="zoe">
        <div class="stm__testimony">
          <div class="stm__t-header">
            <h6 class="fflato t__description">Yoga instructor ZOE went from scraping by to <span class="pink">selling out her first high-ticket course</span> and becoming the breadwinner of her household.</h6>
          </div>
          <div class="stm__t-body">
            <div class="video-play vp--left">
              <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__gold play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/447314309"><img class="img-fluid play-icon" src="img/icons/icon-play-gold.png" alt="Play Icon"/></a>
                <p class="ffcormorantGaramond gold-text text-uppercase mb-0 t__watch">watch video</p>
              </div>
              <div class="text-container">
                <p class="ffjosefin gold-text mb-0 t__name">Zoe</p>
              </div>
            </div>
            <div class="video-image">
              <picture><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/zoe.jpg" alt="Zoe"/></picture>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="rachel">
        <div class="stm__testimony">
          <div class="stm__t-header">
            <h6 class="fflato t__description">Healer RACHEL made <span class="pink">$50K of additional income</span> working part time.</h6>
          </div>
          <div class="stm__t-body">
            <div class="video-play vp--right">
              <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__gold play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/349355116"><img class="img-fluid play-icon" src="img/icons/icon-play-gold.png" alt="Play Icon"/></a>
                <p class="ffcormorantGaramond gold-text text-uppercase mb-0 t__watch">watch video</p>
              </div>
              <div class="text-container">
                <p class="ffjosefin gold-text mb-0 t__name">Rachel</p>
              </div>
            </div>
            <div class="video-image">
              <picture><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/rachel.jpg" alt="Rachel"/></picture>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="marilyn">
        <div class="stm__testimony">
          <div class="stm__t-header">
            <h6 class="fflato t__description">Manifestation and activation coach MARILYN went from $100 sessions to selling her <span class="pink">$15K teacher training.</span></h6>
          </div>
          <div class="stm__t-body">
            <div class="video-play vp--right">
              <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__gold play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/680683181"><img class="img-fluid play-icon" src="img/icons/icon-play-gold.png" alt="Play Icon"/></a>
                <p class="ffcormorantGaramond gold-text text-uppercase mb-0 t__watch">watch video</p>
              </div>
              <div class="text-container">
                <p class="ffjosefin gold-text mb-0 t__name">Marilyn</p>
              </div>
            </div>
            <div class="video-image">
              <picture><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/marilyn.jpg" alt="Marilyn"/></picture>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="shanny">
        <div class="stm__testimony">
          <div class="stm__t-header">
            <h6 class="fflato t__description">Marketing strategist SHANNY started selling <span class="pink">pay-in-full $10K packages</span> with divine ease and grace.</h6>
          </div>
          <div class="stm__t-body">
            <div class="video-play vp--right">
              <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__black play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/668484820"><img class="img-fluid play-icon" src="img/icons/icon-play-pink.png" alt="Play Icon"/></a>
                <p class="ffcormorantGaramond pink text-uppercase mb-0 t__watch">watch video</p>
              </div>
              <div class="text-container">
                <p class="ffjosefin pink mb-0 t__name">Shanny</p>
              </div>
            </div>
            <div class="video-image">
              <picture><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/shanny.jpg" alt="Shanny"/></picture>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="vanessa">
        <div class="stm__testimony">
          <div class="stm__t-header">
            <h6 class="fflato t__description">Healer and business coach VANESSA had her <span class="pink">first $30K month and built a $300K a year business!</span></h6>
          </div>
          <div class="stm__t-body">
            <div class="video-play vp--left">
              <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__black play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/348725348"><img class="img-fluid play-icon" src="img/icons/icon-play-pink.png" alt="Play Icon"/></a>
                <p class="ffcormorantGaramond pink text-uppercase mb-0 t__watch">watch video</p>
              </div>
              <div class="text-container">
                <p class="ffjosefin pink mb-0 t__name">Vanessa</p>
              </div>
            </div>
            <div class="video-image">
              <picture><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/vanessa.jpg" alt="Vanessa"/></picture>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="maria">
        <div class="stm__testimony">
          <div class="stm__t-header">
            <h6 class="fflato t__description">Maria sold her first $10K healing offer 5 weeks after joining. She’s now made <span class="pink">$20K in the 8 weeks</span> since joining ..with no sales page! </h6>
          </div>
          <div class="stm__t-body">
            <div class="video-play vp--right">
              <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__pink play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/677455817"><img class="img-fluid play-icon" src="img/icons/icon-play-pink.png" alt="Play Icon"/></a>
                <p class="ffcormorantGaramond pink text-uppercase mb-0 t__watch">watch video</p>
              </div>
              <div class="text-container">
                <p class="ffjosefin black mb-0 t__name">Maria</p>
              </div>
            </div>
            <div class="video-image">
              <picture><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/maria.jpg" alt="Maria"/></picture>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <div class="slider-custom-arrows">
    <div class="swiper slider-testimonials-thumbnails" thumbsSlider="">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="stt__img"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/thumbnails/jocelyn.png" alt="Thumbnail Jocelyn"/></div>
          <h4 class="ffjosefin stt__name">Jocelyn</h4>
        </div>
        <div class="swiper-slide">
          <div class="stt__img"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/thumbnails/jess.png" alt="Thumbnail Jess"/></div>
          <h4 class="ffjosefin stt__name">Jess</h4>
        </div>
        <div class="swiper-slide">
          <div class="stt__img"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/thumbnails/zoe.png" alt="Thumbnail Zoe"/></div>
          <h4 class="ffjosefin stt__name">Zoe</h4>
        </div>
        <div class="swiper-slide">
          <div class="stt__img"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/thumbnails/rachel.png" alt="Thumbnail Rachel"/></div>
          <h4 class="ffjosefin stt__name">Rachel</h4>
        </div>
        <div class="swiper-slide">
          <div class="stt__img"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/thumbnails/marilyn.png" alt="Thumbnail Marilyn"/></div>
          <h4 class="ffjosefin stt__name">Marilyn</h4>
        </div>
        <div class="swiper-slide">
          <div class="stt__img"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/thumbnails/shanny.png" alt="Thumbnail Shanny"/></div>
          <h4 class="ffjosefin stt__name">Shanny</h4>
        </div>
        <div class="swiper-slide">
          <div class="stt__img"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/thumbnails/vanessa.png" alt="Thumbnail Vanessa"/></div>
          <h4 class="ffjosefin stt__name">Vanessa</h4>
        </div>
        <div class="swiper-slide">
          <div class="stt__img"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/thumbnails/maria.png" alt="Thumbnail Maria"/></div>
          <h4 class="ffjosefin stt__name">Maria</h4>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
    <div class="sca-next"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/right-arrow.png" alt="Right arrow"/></div>
    <div class="sca-prev"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/left-arrow.png" alt="Left arrow"/></div>
  </div>
</div>