
<div class="slider-testimonials">
  <div class="swiper slider-testimonials__modal">
    <div class="swiper-wrapper">
      <div class="swiper-slide" data-name="felicia">
        <div class="stm__testimony">
          <div class="stm__t-header">
            <h6 class="fflato t__description">Femme activation priestess FELICIA sold her <span class="pink">first $5K offer within 24 hours.</span></h6>
          </div>
          <div class="stm__t-body">
            <div class="video-play vp--right">
              <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__gold play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/664096901"><img class="img-fluid play-icon" src="img/icons/icon-play-gold.png" alt="Play Icon"/></a>
                <p class="ffcormorantGaramond gold-text text-uppercase mb-0 t__watch">watch video</p>
              </div>
              <div class="text-container">
                <p class="ffjosefin gold-text mb-0 t__name">Felicia</p>
              </div>
            </div>
            <div class="video-image">
              <picture><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/felicia.jpg" alt="Felicia"/></picture>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="elizabeth">
        <div class="stm__testimony">
          <div class="stm__t-header">
            <h6 class="fflato t__description">Spiritual business coach ELIZABETH mastered her sales process and made <span class="pink">$15K in 3 days.</span></h6>
          </div>
          <div class="stm__t-body">
            <div class="video-play vp--right">
              <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__gold play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/651868266"><img class="img-fluid play-icon" src="img/icons/icon-play-gold.png" alt="Play Icon"/></a>
                <p class="ffcormorantGaramond gold-text text-uppercase mb-0 t__watch">watch video</p>
              </div>
              <div class="text-container">
                <p class="ffjosefin gold-text mb-0 t__name">Elizabeth</p>
              </div>
            </div>
            <div class="video-image">
              <picture><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/elizabeth.jpg" alt="Elizabeth"/></picture>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="nikki">
        <div class="stm__testimony">
          <div class="stm__t-header">
            <h6 class="fflato t__description">Love coach NIKKI went from doubting her worth to <span class="pink">$20K in 30 days.</span></h6>
          </div>
          <div class="stm__t-body">
            <div class="video-play vp--left">
              <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__gold play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/378668982"><img class="img-fluid play-icon" src="img/icons/icon-play-gold.png" alt="Play Icon"/></a>
                <p class="ffcormorantGaramond gold-text text-uppercase mb-0 t__watch">watch video</p>
              </div>
              <div class="text-container">
                <p class="ffjosefin gold-text mb-0 t__name">Nikki</p>
              </div>
            </div>
            <div class="video-image">
              <picture><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/nikii.jpg" alt="Nikki"/></picture>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="zineb">
        <div class="stm__testimony">
          <div class="stm__t-header">
            <h6 class="fflato t__description">Manifestation shaman ZINEB <span class="pink">sold a 2-day VIP immersion for what she used to make in a month</span> working in corporate.</h6>
          </div>
          <div class="stm__t-body">
            <div class="video-play vp--right">
              <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__gold play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/708092141"><img class="img-fluid play-icon" src="img/icons/icon-play-gold.png" alt="Play Icon"/></a>
                <p class="ffcormorantGaramond gold-text text-uppercase mb-0 t__watch">watch video</p>
              </div>
              <div class="text-container">
                <p class="ffjosefin gold-text mb-0 t__name">Zineb</p>
              </div>
            </div>
            <div class="video-image">
              <picture><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/zineb.jpg" alt="Zineb"/></picture>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="dawn">
        <div class="stm__testimony">
          <div class="stm__t-header">
            <h6 class="fflato t__description">Manifestation shaman ZINEB <span class="pink">sold a 2-day VIP immersion for what she used to make in a month </span>working in corporate.</h6>
          </div>
          <div class="stm__t-body">
            <div class="video-play vp--right">
              <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__gold play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/348728647"><img class="img-fluid play-icon" src="img/icons/icon-play-gold.png" alt="Play Icon"/></a>
                <p class="ffcormorantGaramond gold-text text-uppercase mb-0 t__watch">watch video</p>
              </div>
              <div class="text-container">
                <p class="ffjosefin gold-text mb-0 t__name">Dawn</p>
              </div>
            </div>
            <div class="video-image">
              <picture><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/dawn.jpg" alt="Dawn"/></picture>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-name="hayley">
        <div class="stm__testimony">
          <div class="stm__t-header">
            <h6 class="fflato t__description">Medicine and intuitive coach HAYLEY <span class="pink">made $4K in a week </span>and ditched the belief that she’d need a man to support her financially.</h6>
          </div>
          <div class="stm__t-body">
            <div class="video-play vp--right">
              <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__gold play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/415741555"><img class="img-fluid play-icon" src="img/icons/icon-play-gold.png" alt="Play Icon"/></a>
                <p class="ffcormorantGaramond gold-text text-uppercase mb-0 t__watch">watch video</p>
              </div>
              <div class="text-container">
                <p class="ffjosefin gold-text mb-0 t__name">Hayley</p>
              </div>
            </div>
            <div class="video-image">
              <picture><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/hayley.jpg" alt="Hayley"/></picture>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <div class="slider-custom-arrows">
    <div class="swiper slider-testimonials-thumbnails" thumbsSlider="">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="stt__img"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/thumbnails/felicia.png" alt="Thumbnail Felicia"/></div>
          <h4 class="ffjosefin stt__name">Felicia</h4>
        </div>
        <div class="swiper-slide">
          <div class="stt__img"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/thumbnails/elizabeth.png" alt="Thumbnail Elizabeth"/></div>
          <h4 class="ffjosefin stt__name">Elizabeth</h4>
        </div>
        <div class="swiper-slide">
          <div class="stt__img"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/thumbnails/nikii.png" alt="Thumbnail Nikki"/></div>
          <h4 class="ffjosefin stt__name">Nikki</h4>
        </div>
        <div class="swiper-slide">
          <div class="stt__img"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/thumbnails/zineb.png" alt="Thumbnail Zineb"/></div>
          <h4 class="ffjosefin stt__name">Zineb</h4>
        </div>
        <div class="swiper-slide">
          <div class="stt__img"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/thumbnails/dawn.png" alt="Thumbnail Dawn"/></div>
          <h4 class="ffjosefin stt__name">Dawn</h4>
        </div>
        <div class="swiper-slide">
          <div class="stt__img"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/thumbnails/hayley.png" alt="Thumbnail Hayley"/></div>
          <h4 class="ffjosefin stt__name">Hayley</h4>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
    <div class="sca-next"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/right-arrow.png" alt="Right arrow"/></div>
    <div class="sca-prev"><img class="img-fluid" src="img/bg_images/testimonials/slider/client-results/left-arrow.png" alt="Left arrow"/></div>
  </div>
</div>