
<div class="step-by-step-timeline">
  <div class="sbst__line">
    <div class="sbstl__circle"><span>0</span></div>
    <div class="sbstl__circle"><span>1</span></div>
    <div class="sbstl__circle"><span>2</span></div>
    <div class="sbstl__circle"><span>3</span></div>
    <div class="sbstl__circle"><span>4</span></div>
    <div class="sbstl__circle"><span>5</span></div>
    <div class="sbstl__circle"><span>6</span></div>
    <div class="sbstl__circle"><span>7</span></div>
    <div class="sbstl__circle"><span>8</span></div>
    <div class="sbstl__circle"><span>9</span></div>
    <div class="sbstl__circle"><span>10</span></div>
    <div class="sbstl__circle"><span>11</span></div>
    <div class="sbstl__circle"><span>12</span></div>
    <div class="sbstl__circle"><span>13</span></div>
    <div class="sbstl__circle"><span>14</span></div>
    <div class="sbstl__circle"><span>15</span></div>
    <div class="sbstl__circle"><span>16</span></div>
    <div class="sbstl__circle"><span>17</span></div>
    <div class="sbstl__circle"><span>18</span></div>
    <div class="sbstl__circle"><span>19</span></div>
    <div class="sbstl__circle"><span>20</span></div>
    <div class="sbstl__circle"><span>21</span></div>
    <div class="sbstl__circle"><span>22</span></div>
    <div class="sbstl__circle"><span>23</span></div>
    <div class="sbstl__circle"><span>24</span></div>
    <div class="sbstl__circle"><span>25</span></div>
    <div class="sbstl__circle"><span>26</span></div>
    <div class="sbstl__circle"><span>27</span></div>
    <div class="sbstl__circle"><span>28</span></div>
    <div class="sbstl__circle"><span>29</span></div>
  </div>
  <ul class="sbst__wrapper">
    <li class="sbst__item" data-effect-value="-150">
      <div class="sbsti__number"><span class="ffwonderful pink">1:</span></div>
      <div class="sbsti__text">
        <h5 class="ffwonderful pink t__title">Packaging Diva</h5>
        <p class="ffroboto black mb-0 t__description">Package up your <br class="br-767">brilliance.</p>
      </div>
    </li>
    <li class="sbst__item" data-effect-value="150">
      <div class="sbsti__number"><span class="ffwonderful pink">2:</span></div>
      <div class="sbsti__text">
        <h5 class="ffwonderful pink t__title">Pricing Diva</h5>
        <p class="ffroboto black mb-0 t__description">Value your work, <br class="br-767">not your time.</p>
      </div>
    </li>
    <li class="sbst__item" data-effect-value="-150">
      <div class="sbsti__number"><span class="ffwonderful pink">3:</span></div>
      <div class="sbsti__text">
        <h5 class="ffwonderful pink t__title">Scale Diva</h5>
        <p class="ffroboto black mb-0 t__description">Serve one to many.</p>
      </div>
    </li>
    <li class="sbst__item" data-effect-value="150">
      <div class="sbsti__number"><span class="ffwonderful pink">4:</span></div>
      <div class="sbsti__text">
        <h5 class="ffwonderful pink t__title">Social Siren Diva</h5>
        <p class="ffroboto black mb-0 t__description">Build your tribe <br class="br-767">online.</p>
      </div>
    </li>
    <li class="sbst__item" data-effect-value="-150">
      <div class="sbsti__number"><span class="ffwonderful pink">5:</span></div>
      <div class="sbsti__text">
        <h5 class="ffwonderful pink t__title">Sales Diva</h5>
        <p class="ffroboto black mb-0 t__description">Sell with soul <br class="br-767">and zero sleaze.</p>
      </div>
    </li>
    <li class="sbst__item" data-effect-value="150">
      <div class="sbsti__number"><span class="ffwonderful pink">6:</span></div>
      <div class="sbsti__text">
        <h5 class="ffwonderful pink t__title">Video Diva</h5>
        <p class="ffroboto black mb-0 t__description">Become a <br class="br-767">video vixen.</p>
      </div>
    </li>
    <li class="sbst__item" data-effect-value="-150">
      <div class="sbsti__number"><span class="ffwonderful pink">7:</span></div>
      <div class="sbsti__text">
        <h5 class="ffwonderful pink t__title">Email Diva</h5>
        <p class="ffroboto black mb-0 t__description">Become a wealthy <br class="br-767">word witch.</p>
      </div>
    </li>
    <li class="sbst__item" data-effect-value="150">
      <div class="sbsti__number"><span class="ffwonderful pink">8:</span></div>
      <div class="sbsti__text">
        <h5 class="ffwonderful pink t__title">Brand Diva</h5>
        <p class="ffroboto black mb-0 t__description">Build your <br class="br-767">7-figure brand.</p>
      </div>
    </li>
    <li class="sbst__item" data-effect-value="-150">
      <div class="sbsti__number"><span class="ffwonderful pink">9:</span></div>
      <div class="sbsti__text">
        <h5 class="ffwonderful pink t__title">Marketing Diva</h5>
        <p class="ffroboto black mb-0 t__description">All the sizzle and <br class="br-767">no fizzle.</p>
      </div>
    </li>
    <li class="sbst__item" data-effect-value="150">
      <div class="sbsti__number"><span class="ffwonderful pink">10:</span></div>
      <div class="sbsti__text">
        <h5 class="ffwonderful pink t__title">Launch Diva</h5>
        <p class="ffroboto black mb-0 t__description">Serious growth <br class="br-767">and serious <br class="br-767">pleasure. </p>
      </div>
    </li>
    <li class="sbst__item" data-effect-value="-150">
      <div class="sbsti__number"><span class="ffwonderful pink">11:</span></div>
      <div class="sbsti__text">
        <h5 class="ffwonderful pink t__title">Manifesting & <br class="br-767">Healing Diva</h5>
        <p class="ffroboto black mb-0 t__description">Raise your vibration <br class="br-767">into riches.</p>
      </div>
    </li>
  </ul><img class="img-fluid icon-symbol-pink-timeline" src="img/icons/icon-symbol-pink-timeline.png" alt="Icon symbol pink timeline"/>
</div>