
<section>
  <div class="step-by-step-modules">
    <div class="sbsm__slides">
      <div class="swiper" id="step-by-step-modules-slide">
        <div class="swiper-wrapper">
          <div class="swiper-slide" data-bg="#fff">
            <div class="container">
              <div class="sbsm__content">
                <div class="sbsm__row-one">
                  <h3 class="ffmiradorBookDemo black t__module">Module 1:</h3><span class="ffroboto tv-pink t__value">Value: $4,000</span>
                </div>
                <div class="sbsm__row-two">
                  <div class="custom-row">
                    <div class="custom-text">
                      <h2 class="ffmiradorBoldDemo pink t__title">Packaging diva</h2>
                      <h5 class="ffopenSans black t__subtitle">Package your brilliance to get divine clients lining up to pay you the big bucks!</h5>
                      <div class="t__group-of-texts black">
                        <p class="ffroboto">Discover how to create your first high-end program in 72 hours. This includes packaging and pricing your genius into high-end programs for 1:1 and groups to have clients pulling out their credit cards and freeing you from fretting about cash flow ever again. It’s time to make your heart sing and your cash register ring!</p>
                      </div>
                    </div>
                    <div class="custom-img">
                      <div class="ci__text">
                        <h3 class="ffmiradorBookDemo black t__module">Module <br><span>1</span></h3><span class="ffroboto tv-pink t__value">Value: <br>$4,000</span>
                        <h2 class="ffmiradorBoldDemo pink t__title">Packaging diva</h2>
                      </div>
                      <picture>
                        <source class="img-fluid" type="image/webp" srcset="img/bg_images/step-by-step-modules/ipad-1.webp"/><img class="img-fluid" src="img/bg_images/step-by-step-modules/ipad-1.jpg" alt="Ipad"/>
                      </picture>
                    </div>
                  </div>
                </div>
                <div class="sbsm__row-three">
                  <h3 class="ffhoustinySlantAlt pink t__title">You’ll get:</h3>
                  <ul class="check-list ch-pink black">
                    <li class="ffroboto">A stellar 2 hour masterclass with 7-figure priestess Ingrid Arna.</li>
                    <li class="ffroboto">Ingrid’s sacred swipe file, responsible for over $60M in sales, with 20 high-ticket offers you can use to plug and play, sell offers immediately and hit glorious paydays!</li>
                    <li class="ffroboto">The sacred ingredients to help you launch your 6-star brand with ease and elegance and establish yourself as the go-to expert in your niche.</li>
                    <li class="ffroboto">The high-energy, attention-grabbing, untold secret to standing out in a crowded market place, making the competition irrelevant and your offers irresistible.</li>
                    <li class="ffroboto">The knowledge to nail your USP so you shine your light with your unique brand of YOU and ditch self-doubt for good!</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-bg="#ff47ab">
            <div class="container">
              <div class="sbsm__content">
                <div class="sbsm__row-one">
                  <h3 class="ffmiradorBookDemo t__module">Module 2:</h3><span class="ffroboto tv-gold t__value">Value: $2,000</span>
                </div>
                <div class="sbsm__row-two">
                  <div class="custom-row">
                    <div class="custom-text">
                      <h2 class="ffmiradorBoldDemo gold-text t__title">Pricing diva</h2>
                      <h5 class="ffopenSans t__subtitle">Value your work like a Rich Boss Diva and change the way you make money forever.</h5>
                      <div class="t__group-of-texts">
                        <p class="ffroboto">Take that sacred, irresistible offer and price it for its transformational VALUE, not for your time. Breaking up with the ‘time for money’ approach is your first step to financial freedom and what took Ingrid from a broke-ass woman trapped in over-giving to a fully empowered diva who loves her life, is obsessed with the legacy work she’s birthed and grateful that she gets to pass it onto you!</p>
                      </div>
                    </div>
                    <div class="custom-img">
                      <div class="ci__text">
                        <h3 class="ffmiradorBookDemo t__module">Module <br><span>2</span></h3><span class="ffroboto tv-gold t__value">Value: <br>$2,000</span>
                        <h2 class="ffmiradorBoldDemo gold-text t__title">Pricing diva</h2>
                      </div>
                      <picture>
                        <source class="img-fluid" type="image/webp" srcset="img/bg_images/step-by-step-modules/ipad-2.webp"/><img class="img-fluid" src="img/bg_images/step-by-step-modules/ipad-2.jpg" alt="Ipad"/>
                      </picture>
                    </div>
                  </div>
                </div>
                <div class="sbsm__row-three">
                  <h3 class="ffhoustinySlantAlt gold-text t__title">You’ll learn how to:</h3>
                  <ul class="check-list ch-gold">
                    <li class="ffroboto">OVERHAUL your blah offers with a secret strategy to help you charge what you’re worth without wanting to barf your guts out.</li>
                    <li class="ffroboto">RAISE your rates to levels you never imagined possible with our Pricing Priestess Masterclass training.</li>
                    <li class="ffroboto">HONOR yourself, your time, and the value of your work (hint: it comes down to a deep level of self-respect, self-love, and embodying integrity for your work).</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-bg="#ffe3f5">
            <div class="container">
              <div class="sbsm__content">
                <div class="sbsm__row-one">
                  <h3 class="ffmiradorBookDemo black t__module">Module 3:</h3><span class="ffroboto tv-pink t__value">Value: $2,000</span>
                </div>
                <div class="sbsm__row-two">
                  <div class="custom-row">
                    <div class="custom-text">
                      <h2 class="ffmiradorBoldDemo pink t__title">Marketing diva</h2>
                      <h5 class="ffopenSans black t__subtitle">The non-sleazy way to get qualified leads on autopilot.</h5>
                      <div class="t__group-of-texts black">
                        <p class="ffroboto">If you want to wake up to dream clients booking in to work with you, they need to know you exist and then they need to trust you.</p>
                        <p class="ffroboto">This system will show you exactly how to streamline your sales systems to get them singing the sweet song of money flowing in. When you deeply understand what your ideal clients need and then connect, serve and show up as the answer to their prayers, your business becomes a bonafide cash machine.</p>
                      </div>
                    </div>
                    <div class="custom-img">
                      <div class="ci__text">
                        <h3 class="ffmiradorBookDemo black t__module">Module <br><span>3</span></h3><span class="ffroboto tv-pink t__value">Value: <br>$2,000</span>
                        <h2 class="ffmiradorBoldDemo pink t__title">Marketing diva</h2>
                      </div>
                      <picture>
                        <source class="img-fluid" type="image/webp" srcset="img/bg_images/step-by-step-modules/ipad-3.webp"/><img class="img-fluid" src="img/bg_images/step-by-step-modules/ipad-3.jpg" alt="Ipad"/>
                      </picture>
                    </div>
                  </div>
                </div>
                <div class="sbsm__row-three">
                  <h3 class="ffhoustinySlantAlt pink t__title">You’ll learn how to:</h3>
                  <ul class="check-list ch-pink black">
                    <li class="ffroboto">GET BOOKED OUT with the highest converting tool online — live video. If getting in front of a camera makes you want to puke, this training is your remedy!</li>
                    <li class="ffroboto">NAIL the divine process of social selling so you’ll never chase clients again.</li>
                    <li class="ffroboto">BUILD a deep sense of trust with your audience — on email, video and good ol’ fashioned social media — to have dream clients eating out of the palm of your hand.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-bg="#fff">
            <div class="container">
              <div class="sbsm__content">
                <div class="sbsm__row-one">
                  <h3 class="ffmiradorBookDemo black t__module">Module 4:</h3><span class="ffroboto tv-pink t__value">Value: $2,000</span>
                </div>
                <div class="sbsm__row-two">
                  <div class="custom-row">
                    <div class="custom-text">
                      <h2 class="ffmiradorBoldDemo pink t__title">Social siren diva</h2>
                      <h5 class="ffopenSans black t__subtitle">If you want to reach 6 to 7 figures tomorrow, you need to master social media STAT, darling! </h5>
                      <div class="t__group-of-texts black">
                        <p class="ffroboto">Learn the high-energy, attention-grabbing, untold secrets to standing out online and serving up your secret sauce in stellar style. It’s time for you to embrace your inner boss diva and make the competition irrelevant, kicking any comparisonitis and not enoughness to the curb for good.</p>
                      </div>
                    </div>
                    <div class="custom-img">
                      <div class="ci__text">
                        <h3 class="ffmiradorBookDemo black t__module">Module <br><span>4</span></h3><span class="ffroboto tv-pink t__value">Value: <br>$2,000</span>
                        <h2 class="ffmiradorBoldDemo pink t__title">Social siren diva</h2>
                      </div>
                      <picture>
                        <source class="img-fluid" type="image/webp" srcset="img/bg_images/step-by-step-modules/ipad-4.webp"/><img class="img-fluid" src="img/bg_images/step-by-step-modules/ipad-4.jpg" alt="Ipad"/>
                      </picture>
                    </div>
                  </div>
                </div>
                <div class="sbsm__row-three">
                  <h3 class="ffhoustinySlantAlt pink t__title">You’ll learn how to:</h3>
                  <ul class="check-list ch-pink black">
                    <li class="ffroboto">ATTRACT dream clients on the daily without DM bombing anyone.</li>
                    <li class="ffroboto">KNOW what to say and when to say it to magnetize your audience online.</li>
                    <li class="ffroboto">CREATE a steady stream of activated buyers who want what you have and are serious about buying it.</li>
                    <li class="ffroboto">GROW an online following that is full of raving fans who hang on your every word and can’t wait to work with you. </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-bg="#ff47ab">
            <div class="container">
              <div class="sbsm__content">
                <div class="sbsm__row-one">
                  <h3 class="ffmiradorBookDemo t__module">Module 5:</h3><span class="ffroboto tv-gold t__value">Value: $2,000</span>
                </div>
                <div class="sbsm__row-two mb-0">
                  <div class="custom-row">
                    <div class="custom-text">
                      <h2 class="ffmiradorBoldDemo gold-text t__title">Sales diva</h2>
                      <h5 class="ffopenSans t__subtitle">Sell to clients without feeling like a shame-ridden scumbag and ethically enroll clients at 5 to 20 times more than you are now. </h5>
                      <div class="t__group-of-texts">
                        <p class="ffroboto">If you want to reach $10K a month without feeling like a second-rate version of yourself, you need to master shame-free selling, darling. Unless you can sell, you’re not only going to struggle BIG time financially, but you won’t be sharing your potent soul work either! And that feels pretty crappy!</p>
                        <p class="ffroboto">It’s time for you to master selling your ass off by releasing your money and self-worth blocks to serve deeply without shame. Because the truth is without consistent sales, your business quickly evaporates. Do you think Oprah would be a freaking billionaire if she didn’t know how to sell with soul?</p>
                      </div>
                    </div>
                    <div class="custom-img">
                      <div class="ci__text">
                        <h3 class="ffmiradorBookDemo t__module">Module <br><span>5</span></h3><span class="ffroboto tv-gold t__value">Value: <br>$2,000</span>
                        <h2 class="ffmiradorBoldDemo gold-text t__title">Sales <br>diva</h2>
                      </div>
                      <picture>
                        <source class="img-fluid" type="image/webp" srcset="img/bg_images/step-by-step-modules/iphone-1.webp"/><img class="img-fluid" src="img/bg_images/step-by-step-modules/iphone-1.png" alt="Ipad"/>
                      </picture>
                    </div>
                  </div>
                </div>
                <div class="sbsm__row-three">
                  <h3 class="ffhoustinySlantAlt gold-text t__title">You’ll learn how to:</h3>
                  <ul class="check-list ch-gold">
                    <li class="ffroboto">MASTER the 6 phases of my call system to ensure you sell out without sweating, so you’re coolly confident even if it’s your first sales call ever!</li>
                    <li class="ffroboto">IMPLEMENT the untold, deeply guarded secret to selling like a superstar (even when you’re shizz scared), so your brilliance shines through and not your nerves!</li>
                    <li class="ffroboto">HARNESS the power of soulful, feminine selling and all the strategy, structure, and smarts you need along the way to activate a client’s buying desire — and then convert that into cash.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-bg="#ffe3f5">
            <div class="container">
              <div class="sbsm__content">
                <div class="sbsm__row-one">
                  <h3 class="ffmiradorBookDemo black t__module">Module 6:</h3><span class="ffroboto tv-pink t__value">Value: $1,500</span>
                </div>
                <div class="sbsm__row-two mb-0">
                  <div class="custom-row">
                    <div class="custom-text">
                      <h2 class="ffmiradorBoldDemo pink t__title">The diva manifesting, healing & ascension vortex</h2>
                      <h5 class="ffopenSans black t__subtitle">Release your money karma drama, become a divine creatrix and rise into riches.</h5>
                      <div class="t__group-of-texts black">
                        <p class="ffroboto">If you want extraordinary wealth, you need extraordinary wellbeing. The grind and hustle can only be sustained for so long.</p>
                        <p class="ffroboto">Claim your financial sovereignty with divine ease. Learn Ingrid’s sacred healing and ascension protocol to raise your vibration, clear cobwebs, and get your frequency on point as you step into an embodied new rich diva reality.</p>
                      </div>
                    </div>
                    <div class="custom-img">
                      <div class="ci__text">
                        <h3 class="ffmiradorBookDemo black t__module">Module <br><span>6</span></h3><span class="ffroboto tv-pink t__value">Value: <br>$1,500</span>
                        <h2 class="ffmiradorBoldDemo pink t__title">The diva manifesting, healing & ascension vortex</h2>
                      </div>
                      <picture>
                        <source class="img-fluid" type="image/webp" srcset="img/bg_images/step-by-step-modules/iphone-2.webp"/><img class="img-fluid" src="img/bg_images/step-by-step-modules/iphone-2.png" alt="Ipad"/>
                      </picture>
                    </div>
                  </div>
                </div>
                <div class="sbsm__row-three">
                  <h3 class="ffhoustinySlantAlt pink t__title">You’ll learn how to:</h3>
                  <ul class="check-list ch-pink black">
                    <li class="ffroboto">DETOX shame and fear to sell your work with self-love and soul — and then watch your bank account flourish with GRACE.</li>
                    <li class="ffroboto">WEAVE pleasure, play, trust and deep ownership of your wisdom and experience to monetize your magic while you shed fear, force and toxic conditioning, so you rise into riches on all levels.</li>
                    <li class="ffroboto">RELEASE your creative blocks to express your potent soul work and birth your sacred offers with divine femme power and that magical OMG-LET-ME-GIVE-YOU-MY-CREDIT-CARD frequency!</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-bg="#fff">
            <div class="container">
              <div class="sbsm__content">
                <div class="sbsm__row-one">
                  <h3 class="ffmiradorBookDemo black t__module">Module 7:</h3><span class="ffroboto tv-pink t__value">Value: $1,000</span>
                </div>
                <div class="sbsm__row-two">
                  <div class="custom-row">
                    <div class="custom-text">
                      <h2 class="ffmiradorBoldDemo pink t__title">Branding diva</h2>
                      <h5 class="ffopenSans black t__subtitle">Own your brilliance and master the art of being YOU online — bold and confident — and attract a consistent stream of clients and cash.</h5>
                      <div class="t__group-of-texts black">
                        <p class="ffroboto">Escape from speaking to the black hole of nothingness and to no one in particular to deeply understanding the psychology of a 6- to 7-figure brand and how to clarify your method, teachings and story to bring in the big bucks!</p>
                      </div>
                    </div>
                    <div class="custom-img">
                      <div class="ci__text">
                        <h3 class="ffmiradorBookDemo black t__module">Module <br><span>7</span></h3><span class="ffroboto tv-pink t__value">Value: <br>$1,000</span>
                        <h2 class="ffmiradorBoldDemo pink t__title">Branding diva</h2>
                      </div>
                      <picture>
                        <source class="img-fluid" type="image/webp" srcset="img/bg_images/step-by-step-modules/ipad-5.webp"/><img class="img-fluid" src="img/bg_images/step-by-step-modules/ipad-5.jpg" alt="Ipad"/>
                      </picture>
                    </div>
                  </div>
                </div>
                <div class="sbsm__row-three">
                  <h3 class="ffhoustinySlantAlt pink t__title">You’ll learn how to:</h3>
                  <ul class="check-list ch-pink black">
                    <li class="ffroboto">POSITION yourself as a diva leader with authenticity, vision and voice.</li>
                    <li class="ffroboto">CONNECT to the heart — right from the start — of every member of your audience to have them eating out of your hand.</li>
                    <li class="ffroboto">COMMAND the big bucks for your work with a high-end brand that commands high-end prices.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sbsm__navigation-bullets">
      <div class="sbsm__progressbar"><span></span></div>
      <div class="swiper" id="step-by-step-modules-progressbar" thumbsSlider="">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="sbsm__circle">
              <div class="sbsm__num"><span class="ffmiradorBookDemo">1</span></div>
              <p class="ffroboto black t__text">Packaging <br class="br-767"><br>diva</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="sbsm__circle">
              <div class="sbsm__num"><span class="ffmiradorBookDemo">2</span></div>
              <p class="ffroboto black t__text">Pricing <br class="br-767"><br>diva</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="sbsm__circle">
              <div class="sbsm__num"><span class="ffmiradorBookDemo">3</span></div>
              <p class="ffroboto black t__text">Marketing <br class="br-767"><br>diva</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="sbsm__circle">
              <div class="sbsm__num"><span class="ffmiradorBookDemo">4</span></div>
              <p class="ffroboto black t__text">Social <br class="br-767">siren <br>diva</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="sbsm__circle">
              <div class="sbsm__num"><span class="ffmiradorBookDemo">5</span></div>
              <p class="ffroboto black t__text">Sales<br class="br-767"><br>diva</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="sbsm__circle">
              <div class="sbsm__num"><span class="ffmiradorBookDemo">6</span></div>
              <p class="ffroboto black t__text">The diva <br class="br-767"><br>mha vortex</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="sbsm__circle">
              <div class="sbsm__num"><span class="ffmiradorBookDemo">7</span></div>
              <p class="ffroboto black t__text">Branding <br class="br-767"><br>diva</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>