
<div class="testimonials-faqs">
  <div class="testimonials-faqs__testimony">
    <div class="testimonials-faqs__description">
      <p class="ffalbraSemi t-small">Why is my OFFER/ COURSE OR PROGRAM <span class="arrows">ISN'T SELLING & how to fix it fast?</span></p>
    </div>
    <div class="testimonials-faqs__video">
      <picture class="video__thumbnail"><img class="img-fluid" src="img/bg_images/testimonials/faqs/1.jpg" alt="Testimony 1"/></picture>
      <div class="video__button">
        <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__white play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/795121395"><img class="img-fluid play-icon" src="img/bg_images/testimonials/faqs/icon-play.png" alt="Play Icon"/></a>
          <p class="ffjosefin text-uppercase mb-0 t__text">watch<span></span>video</p>
        </div>
      </div>
    </div>
  </div>
  <div class="testimonials-faqs__testimony">
    <div class="testimonials-faqs__description">
      <p class="ffalbraSemi">How is 6-FIGURE DIVA different <span class="arrows">from 5-FIGURE DIVA?</span></p>
    </div>
    <div class="testimonials-faqs__video">
      <picture class="video__thumbnail"><img class="img-fluid" src="img/bg_images/testimonials/faqs/2.jpg" alt="Testimony 2"/></picture>
      <div class="video__button">
        <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__white play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/795122242"><img class="img-fluid play-icon" src="img/bg_images/testimonials/faqs/icon-play.png" alt="Play Icon"/></a>
          <p class="ffjosefin text-uppercase mb-0 t__text">watch<span></span>video</p>
        </div>
      </div>
    </div>
  </div>
  <div class="testimonials-faqs__testimony">
    <div class="testimonials-faqs__description">
      <p class="ffalbraSemi">How long will it take to hit 6 <span class="arrows">figures?</span></p>
    </div>
    <div class="testimonials-faqs__video">
      <picture class="video__thumbnail"><img class="img-fluid" src="img/bg_images/testimonials/faqs/3.jpg" alt="Testimony 3"/></picture>
      <div class="video__button">
        <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__white play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/536703288"><img class="img-fluid play-icon" src="img/bg_images/testimonials/faqs/icon-play.png" alt="Play Icon"/></a>
          <p class="ffjosefin text-uppercase mb-0 t__text">watch<span></span>video</p>
        </div>
      </div>
    </div>
  </div>
  <div class="testimonials-faqs__testimony">
    <div class="testimonials-faqs__description">
      <p class="ffalbraSemi">3 reasons why my coaching <span class="arrows">programs are world class.</span></p>
    </div>
    <div class="testimonials-faqs__video">
      <picture class="video__thumbnail"><img class="img-fluid" src="img/bg_images/testimonials/faqs/4.jpg" alt="Testimony 4"/></picture>
      <div class="video__button">
        <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__white play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/536335868"><img class="img-fluid play-icon" src="img/bg_images/testimonials/faqs/icon-play.png" alt="Play Icon"/></a>
          <p class="ffjosefin text-uppercase mb-0 t__text">watch<span></span>video</p>
        </div>
      </div>
    </div>
  </div>
  <div class="testimonials-faqs__testimony">
    <div class="testimonials-faqs__description">
      <p class="ffalbraSemi">Big revenue doesn't mean big <span class="arrows">sacrifice. Here's why.</span></p>
    </div>
    <div class="testimonials-faqs__video">
      <picture class="video__thumbnail"><img class="img-fluid" src="img/bg_images/testimonials/faqs/5.jpg" alt="Testimony 5"/></picture>
      <div class="video__button">
        <div class="animated-play-button__container"><a class="animated-play-button animated-play-button__white play-embedded-video-in-modal" href="javascript:;" data-url="https://player.vimeo.com/video/538464463"><img class="img-fluid play-icon" src="img/bg_images/testimonials/faqs/icon-play.png" alt="Play Icon"/></a>
          <p class="ffjosefin text-uppercase mb-0 t__text">watch<span></span>video</p>
        </div>
      </div>
    </div>
  </div>
</div>